<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleDevelopmentRegion</key><string>en</string>
  <key>CFBundleExecutable</key><string>PlantKeeperApp</string>
  <key>CFBundleIdentifier</key><string>__BUNDLE_ID__</string>
  <key>CFBundleInfoDictionaryVersion</key><string>6.0</string>
  <key>CFBundleName</key><string>PlantKeeperApp</string>
  <key>CFBundlePackageType</key><string>APPL</string>
  <key>CFBundleShortVersionString</key><string>1.0</string>
  <key>CFBundleVersion</key><string>1</string>
  <key>UILaunchScreen</key>
  <dict/>
  <key>UIDeviceFamily</key>
  <array>
    <integer>1</integer>
  </array>
  <key>UIRequiresFullScreen</key><true/>
  <key>UISupportedInterfaceOrientations</key>
  <array>
    <string>UIInterfaceOrientationPortrait</string>
    <string>UIInterfaceOrientationLandscapeLeft</string>
    <string>UIInterfaceOrientationLandscapeRight</string>
  </array>
  <key>UIApplicationSceneManifest</key>
  <dict>
    <key>UIApplicationSupportsMultipleScenes</key>
    <false/>
  </dict>
  <key>LSRequiresIPhoneOS</key><true/>
  <key>MinimumOSVersion</key><string>__MIN_VERSION__</string>
  <key>NSCameraUsageDescription</key><string>Plant Keeper uses your camera to take a photo when adding a new plant.</string>
  <key>NSPhotoLibraryUsageDescription</key><string>Plant Keeper can access your photo library when camera capture is unavailable.</string>
  <key>NSLocationWhenInUseUsageDescription</key><string>Plant Keeper uses your location to autofill home coordinates for outdoor weather-aware reminders.</string>
</dict>
</plist>
